build/main.d
build/main.lst
build/main.o
build/startup_stm32h750xx.d
build/startup_stm32h750xx.lst
build/startup_stm32h750xx.o
build/test2.bin
build/test2.elf
build/test2.hex
build/test2.map
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/STM32H750x.svd
.vscode/tasks.json
